:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
/* Start Box */
.d-flex {
    display: flex;
}
.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}
.f-wrap {
    flex-wrap: wrap;
}
.align-center {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
.fdir-column {
    flex-direction: column;
}
.d-grid {
    display: grid;
}
.gap-10 {
    gap: 10px;
}
.gap-20 {
    gap: 20px;
}
.d-block {
    display: block;
}
@media(max-width: 767px) {
    .block-mobile {
        display: block;
    }
    .hide-mobile {
        display: none;
    }
}
/* End Box */
/* Start padding + margin */
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}
.pt-10 {
    padding-top: 10px;
}
.pt-15 {
    padding-top: 15px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pl-10 {
    padding-left: 10px;
}
.pl-15 {
    padding-left: 15px;
}
.pl-20 {
    padding-left: 20px;
}
.plr-10 {
    padding: 0 10px;
}
.m-0 {
    margin: 0;
}
.m-10 {
    margin: 10px;
}
.m-15 {
    margin: 15px;
}
.m-20 {
    margin: 20px;
}
.mt-0 {
    margin-top: 0;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-25 {
    margin-top: 25px;
}
.mt-30 {
    margin-top: 30px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom:15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mr-5 {
    margin-right: 5px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-15 {
    margin-right: 15px;
}
.mr-20 {
    margin-right: 20px;
}
.ml-auto {
    margin-left: auto;
}
.mlr-auto {
    margin: 0 auto;
}
/* end padding + margin */
/* Start color */
.bg-white {
    background-color: white;
}
.bg-eee {
    background-color: #eee;
}
.bg-blue {
    background-color: var(--blue-color);
}
.bg-orange {
    background-color: var(--orange-color);
}
.bg-green {
    background-color: var(--green-color);
}
.bg-red {
    background-color: var(--red-color);
}
.c-white {
    color: white;
}
.c-black {
    color: black;
}
.c-666 {
    color: #666;
}
.c-blue
    {
    color: var(--blue-color);
}
.c-alt-blue{
    color: var(--blue-alt-color);
}
.c-orange{
    color: var(--orange-color);
}
.c-green{
    color: var(--green-color);
}
.c-red{
    color: var(--red-color);
}
.c-grey{
    color: var(--grey-color);
}
/* End color */
/* Start Position */
.p-relative {
    position: relative;
}
/* End Position */
/* Start Fonts */
.txt-c {
    text-align: center;
}
.txt-right {
    text-align: right;
}
.fs-10 {
    font-size: 10px;
}
.fs-12 {
    font-size: 12px;
}
.fs-13 {
    font-size: 13px;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px
}
.fs-16 {
    font-size: 16px;
}
.fs-20 {
    font-size: 20px;
}
.fs-25 {
    font-size: 25px;
}
.fs-40 {
    font-size: 40px;
}
.fw-bold {
    font-weight: bold;
}
.fw-normal {
    font-weight: normal;
}
@media (max-width: 767px) {
    .txt-c-mobile {
        text-align: center;
    }
}
/* End Fonts */
/* Start Border */
.b-none {
    border: none;
}
.b-50 {
    border-radius: 50%;
}
.b-ccc {
    border: 1px solid #ccc;
}
.bt-eee {
    border-top: 1px solid #eee;
}
.bb-ccc {
    border-bottom: 1px solid #ccc;
}
.bb-eee {
    border-bottom: 1px solid #eee;
}
.ol-none {
    outline: none;
}
.rad-half {
    border-radius: 50%;
}
.rad-6 {
    border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
}
/* End Border */
/* Start Size */
.w-full {
    width: 100%;
}
.w-fit {
    width: fit-content;
}
.w-50 {
    width: 50px;
}
.h-fit {
    height: fit-content;
}
.h-4 {
    height: 4px;
}
/* End Size */
/* Start Componants */
.between-flex {
    display: flex;
    justify-content: space-between;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
}
.btn-shape-2 {
    padding: 10px 10px;
    border-radius: 10px;
}
/* End Componants */
/* Start Other Properties */
.hide {
    display: none;
}
/* End Other Properties */